@import url('https://rsms.me/inter/inter.css');

:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
}

.displaynone{
    display:none!important;
}

.backbtn{
    display:none;
}

#alertContainer {
    position: absolute;
    margin: 10px;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 993px) {
    .hide-on-small-screen {
        display: none !important;
    }
    .backbtn {
        display: flex;
    }
}
