<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Voltage</title>

    
    <link href="~/dist/css/tabler.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.11/signalr.min.js"></script>
    <script src="~/js/SignalR.js"></script>
    <script src="~/dist/js/demo-theme.min.js"></script>

    <div class="page page-center" id="app">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
@*                     <a href="/Main/MainPage/Index" class="navbar-brand navbar-brand-autodark"><img src="/wwwroot/dist/img/logos/logo-small.svg" height="36" alt=""></a> *@
                </div>
                <div class="text-secondary mb-3">Preparing application</div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <partial name="/Areas/User/Views/Shared/SharedPartials/HeaderPartial.cshtml" />
        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <partial name="/Areas/User/Views/Shared/SharedPartials/FooterPartial.cshtml" />
        </div>
    </div>

    <script src="~/js/site.js" defer asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--js lib-->
    <script src="~/dist/libs/apexcharts/dist/apexcharts.min.js?1692870487" defer asp-append-version="true"></script>
    <script src="~/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer asp-append-version="true"></script>
    <script src="~/dist/libs/jsvectormap/dist/maps/world.js?1692870487" defer asp-append-version="true"></script>
    <script src="~/dist/libs/jsvectormap/dist/maps/world-merc.js?1692870487" defer asp-append-version="true"></script>

    <!--  -->
    <script src="~/dist/js/tabler.min.js?1692870487" defer asp-append-version="true"></script>
    <script src="~/dist/js/demo.min.js?1692870487" defer asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
