@using Voltage.Entities.Entity;
@model IEnumerable<User>


<style>
    #fileDropArea {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
    }

    #fileInput {
        display: none;
    }

    #fileDescription {
        margin-top: 10px;
        width: 100%;
    }


</style>
<link href="/dist/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" crossorigin="anonymous" />
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-end">
                    <div class="card-header d-none d-md-block">
                        <div class="input-icon">
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                            </span>
                            <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search" />
                        </div>
                    </div>
                    <div class="card-body p-0 scrollable" style="max-height: 35rem">
                        <div class="nav flex-column nav-pills" role="tablist">
                            @foreach (var item in Model)
                            {
                                <a href="#chat-@item.UserName" onclick="ClickToUser('@item.UserName')" class="nav-link text-start mw-100 p-3 active" id="chat-@item.UserName-tab" data-bs-toggle="pill" role="tab" aria-selected="true">
                                    <div class="row align-items-center flex-fill">
                                        <div class="col-auto">
                                            <span class="avatar" style="background-image: url()"></span>
                                        </div>
                                        <div class="col text-body">
                                            <div>@item.UserName</div>
                                            <div id="lastMessage" class="text-secondary text-truncate w-100"></div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 col-xl-9 d-flex flex-column hide-on-small-screen">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url(./static/avatars/000m.jpg)"></span>
                            </div>
                            <div class="col-auto ms-2">
                                <h4 class="mb-2">Nihat</h4>
                                <h5 class="mb-0">
                                    Online<span class="badge bg-green badge-blink ms-1"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex col-auto">
                            <a href="#" class="link-secondary me-3" data-bs-toggle="tooltip" aria-label="Clear search" title="Clear search">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 7a2 2 0 0 1 2 2" /><path d="M15 3a6 6 0 0 1 6 6" /></svg>
                            </a>
                            <a href="#" class="link-secondary me-2" data-bs-toggle="tooltip" aria-label="Clear search" title="Clear search">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-video" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" /><path d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /></svg>
                            </a>
                        </div>
                    </div>
                    <div id="overChatBubbles" class="card-body scrollable" style="height: 35rem">
                    <div id="fileDropArea" style="display: none; width:100%; z-index:1;">
                        <p>Перетащите сюда файлы</p>
                        <input type="file" id="fileInput" multiple style="display: none;" />
                        <textarea id="fileDescription" placeholder="Описание файла..."></textarea>
                        <button onclick="handleSend()">Отправить</button>
                    </div>
                        <div class="chat">
                            <div class="chat-bubbles">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="input-group input-group-flat">
                            <input type="text" class="form-control" autocomplete="off" id="messageInput" placeholder="Type message" />
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Clear search" title="Emojies">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 10l.01 0" /><path d="M15 10l.01 0" /><path d="M9.5 15a3.5 3.5 0 0 0 5 0" /></svg>
                                </a>
                                <a href="#" class="link-secondary ms-2" data-bs-toggle="tooltip" aria-label="Add notification" title="Add notification">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" /></svg>
                                </a>
                                <a href="#" class="link-secondary ms-2" data-bs-toggle="tooltip" aria-label="Add notification" title="Send">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 14l11 -11" /><path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js" integrity="sha512-aGWPnmdBhJ0leVHhQaRASgb0InV/Z2BWsscdj1Vwt29Oic91wECPixuXsWESpFfCcYPLfOlBZzN2nqQdMxlGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js" integrity="sha512-VQQXLthlZQO00P+uEu4mJ4G4OAgqTtKG1hri56kQY1DtdLeIqhKUp9W/lllDDu3uN3SnUNawpW7lBda8+dSi7w==" crossorigin="anonymous"></script>
<script src="~/js/MessageClientSide.js"></script>
<!--<script src="/dist/libs/dropzone/dist/dropzone-min.js" defer></script>-->
